


.header-area {
    padding: 30px 0;

    .header {
        display: flex;
        justify-content: space-between;
        align-content: center;
        .logo a {
            text-transform: uppercase;

            &:hover {
                color: $primary_color;
            }
        }
        .menu {
            
            ul {
                text-align: right;
                li {
                    display: inline-block;

                    a {
                        margin: 5px 20px;
                        font-size: 18px;
                        font-weight: 500;
                        text-transform: capitalize;

                        &:hover {
                            color: $primary_color;
                        }
                    }
                }
            }
        }
    }
}


